/* UnNetHack dump CSS file */
body {
	color:#CCCCCC;
	background-color:#222222;
	font-family: monospace;
	margin: 8px;
	padding: 0;
	border: 0;
}
pre {
	margin: 1em 8px 1em 0;
}
pre.nh_screen {
	font-family: Hack, DejaVu Sans Mono,Menlo,Courier New,Courier,monospace;
	display: inline-block;
	background-color: black;
}
.nh_skills,
.nh_game_information,
.nh_item_letter {
	padding-left: 3ex;
}

h2 {
	color:white;
	font-size:125%;
	margin:0.5ex;
	padding-top:1.5em;
}
h3 {
	color:white;
	font-size:110%;
	margin: 1ex 0ex 0.25ex 1.5ex;
}
blockquote {
	margin-top: 0px;
}

.nh_skills th {
	text-align: left;
}
.nh_skills td {
	padding-left: 1em;
}

.nh_color_0 { color:#666666; }  /* CLR_BLACK          */
.nh_lava,
.nh_color_1 { color:#DD0000; }  /* CLR_RED            */
.nh_tree,
.nh_color_2 { color:#00AA00; }  /* CLR_GREEN          */
.nh_door, .nh_drawbridge, .nh_ladder,
.nh_color_3 { color:#754710; }  /* CLR_BROWN          */
.nh_pool, .nh_moat, .nh_water, .nh_fountain,
.nh_color_4 { color:#3333FF; }  /* CLR_BLUE           */
.nh_color_5 { color:#BB00BB; }  /* CLR_MAGENTA        */
.nh_color_6 { color:#00BBBB; }  /* CLR_CYAN           */
.nh_color_7 { color:#909090; }  /* CLR_GRAY           */
.nh_sink, .nh_grave, .nh_altar,
.nh_color_8 { color:#AAAAAA; }  /* NO_COLOR           */
.nh_color_9 { color:#E69500; }  /* CLR_ORANGE         */
.nh_color_10 { color:#55FF55; } /* CLR_BRIGHT_GREEN   */
.nh_throne,
.nh_color_11 { color:#FFFF00; } /* CLR_YELLOW         */
.nh_color_12 { color:#0000FC; } /* CLR_BRIGHT_BLUE    */
.nh_color_13 { color:#FC00FC; } /* CLR_BRIGHT_MAGENTA */
.nh_ice, .nh_ironbars,
.nh_color_14 { color:#00FCFC; } /* CLR_BRIGHT_CYAN    */
.nh_stairs,
.nh_color_15 { color:#FCFCFC; } /* CLR_WHITE          */
.nh_inv_0 { color: black; background-color:#666666; }  /* CLR_BLACK          */
.nh_inv_1 { color: black; background-color:#DD0000; }  /* CLR_RED            */
.nh_inv_2 { color: black; background-color:#00AA00; }  /* CLR_GREEN          */
.nh_inv_3 { color: black; background-color:#754710; }  /* CLR_BROWN          */
.nh_inv_4 { color: black; background-color:#3333FF; }  /* CLR_BLUE           */
.nh_inv_5 { color: black; background-color:#BB00BB; }  /* CLR_MAGENTA        */
.nh_inv_6 { color: black; background-color:#00BBBB; }  /* CLR_CYAN           */
.nh_inv_7 { color: black; background-color:#909090; }  /* CLR_GRAY           */
.nh_inv_8 { color: black; background-color:#AAAAAA; }  /* NO_COLOR           */
.nh_inv_9 { color: black; background-color:#E69500; }  /* CLR_ORANGE         */
.nh_inv_10 { color: black; background-color:#55FF55; } /* CLR_BRIGHT_GREEN   */
.nh_inv_11 { color: black; background-color:#FFFF00; } /* CLR_YELLOW         */
.nh_inv_12 { color: black; background-color:#0000FC; } /* CLR_BRIGHT_BLUE    */
.nh_inv_13 { color: black; background-color:#FC00FC; } /* CLR_BRIGHT_MAGENTA */
.nh_inv_14 { color: black; background-color:#00FCFC; } /* CLR_BRIGHT_CYAN    */
.nh_inv_15 { color: black; background-color:#FCFCFC; } /* CLR_WHITE          */

.nh_corridor   { color:#666666; }

.nh_screen a {
	text-decoration: inherit;
}

a {
	background-color: inherit;
	color: inherit;
}
