<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.tbd.NetHack"
	android:versionCode="3611"
	android:versionName="3.6.1-2"
	android:installLocation="auto">
	<uses-sdk android:minSdkVersion="7"
	          android:targetSdkVersion="15"/>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:label="NetHack"
		android:icon="@drawable/icon"
		android:largeHeap="true"
		android:theme="@android:style/Theme"
		android:allowBackup="true">
		<activity
			android:name="com.tbd.forkfront.ForkFront"
			android:label="NetHack"
			android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
			android:launchMode="singleTask"
			android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|fontScale">
			<!-- Prevent activity from restarting when configuration changes -->
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN"/>
				<category
					android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.tbd.forkfront.Settings"
			android:label="NetHack Settings">
		</activity>
	</application>
</manifest>
